@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html{
        @apply font-light text-base bg-bg-light;
    }
    .label {
        @apply pb-4;
    }
    .form-field {
        @apply border border-gray-300 px-4 py-2 w-full focus:outline-none;
    }
    .icon-input {
        @apply border border-gray-300 bg-gray-100 px-4 py-2 z-10 h-full leading-snug font-normal text-center absolute items-center justify-center;
    }
    .error {
        @apply text-red-500 text-sm;
    }
    .btn {
        @apply rounded uppercase;
    }
    .btn-sm {
        @apply pt-1 pb-1 pl-5 pr-5;
    }
    .btn-lg {
        @apply pt-1 pb-1 pl-5 w-full;
    }
    .btn-disabled {
        @apply bg-orange-200 bg-opacity-80 text-white;
    }
    .btn-primary {
        @apply bg-orange text-white text-base hover:bg-orange;
    }
    .table {
        @apply shadow w-full my-2 bg-white rounded mb-4;
    }
    .thead {
        @apply px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase;
    }
    .trow {
        @apply border-b;
    }
    .tcol {
        @apply p-3 px-5;
    }
    .link{
        @apply text-orange;
    }
}